{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
    <li><p class="navbar-text">{{ app.user.username }}</p></li>
    <li><a class="btn-link" href="{{ path('fos_user_profile_edit') }}">Edit</a></li>
    <li><a class="btn-link" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
{% else %}
    <li><a class="btn-link" href="{{ path('fos_user_security_login') }}">Logowanie</a></li>
    <li><a class="btn-link" href="{{ path('fos_user_registration_register') }}">Rejestracja</a></li>
{% endif %}

{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}