{% extends '::base.html.twig' %}

{% block content %}
    <h1>Pracownicy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>imię</th>
                <th>nazwisko</th>
                <th>pesel</th>
                <th>data urodzenia</th>
                <th>data zatrudnienia</th>
                <th>data zakończenia pracy</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.personalId }}</td>
                <td>{% if employee.dateOfBirth %}{{ employee.dateOfBirth|date('Y-m-d') }}{% endif %}</td>
                <td>{% if employee.employmentStart %}{{ employee.employmentStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if employee.employmentEnd %}{{ employee.employmentEnd|default('') }}{% endif %}</td>
                <td>
                <div class="btn-toolbar btn-group-xs" role="group" aria-label="...">
                    <a href="{{ path('employee_show', { 'id': employee.id }) }}" class="btn btn-primary">szczegóły</a>
                    <a href="{{ path('employee_edit', { 'id': employee.id }) }}" class="btn btn-primary">edytuj</a>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('employee_new') }}" class="btn btn-primary btn-block">
        Dodaj nowego pracownika
    </a>
    {% endblock %}
