{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ company.name }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>nazwa</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>NIP</th>
                <td>{{ company.taxId }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ company.email }}</td>
            </tr>
            <tr>
                <th>adresy</th><td></td>
            </tr>
        {%  for address in company.addresses %}
            <tr>
                <th></th>
                <td>{{ address.postcode }} {{ address.city }}, {{ address.street }} {{ address.number }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <ul class="padding0">
        <li>
            <a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-primary btn-block">
                Edytuj
            </a>
        </li>
    </ul>
{% endblock %}
